llama-2-7b/**
notebooks/bitsandbytes.egg-info/dependency_links.txt
*.DS_Store
*__pycache__*
/notebooks/.ipynb_checkpoints
*.zip
**/fine-tuned-gpt2-speakers-*
data/processed/CANDOR_gpt2-large/affective_labels/**
data/processed/triadic-pilot/**
data/external/CANDOR/*
notebooks/information_exchange_labelling/dataset_perplexity_results/CANDOR**
notebooks/information_exchange_labelling/dataset_perplexity_results/triadic-pilot**
data/external/NoXi_dataset/**